$black: #353535;
$cool-grey: #A2A5B3;
$black-two: #1B1B1B;
$sand: #DFAB78;
$very-black: #0F0F0F;
$white: #FFFFFF;

html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

h3.small {
  font-size: 20px;
  font-weight: 300;
}

h4 {
  font-size: 18px;
  font-weight: 400;
}

p {
  margin-bottom: 16px;

  &.nav-header {
    text-transform: uppercase;
    color: $cool-grey;
  }
}

input[type=button], input[type=submit], button, .btn {
  cursor: pointer !important;
}

a {
  color: #777777;

  &:hover {
    color: #777777;
    text-decoration: none;
  }

  &.spec-sheet {
    display: block;
    background-color: $very-black;
    color: $white;
    padding: 11px 17px;
    width: 242px;
    margin-bottom: 32px;
    font-size: 14px;

    i {
      margin-right: 8px;
    }
  }
}

a[href^="mailto:"] {
  word-wrap: break-word !important;
}

.caption {
  font-size: 14px;
  font-weight: 500;
}

button:focus {
    outline: none;
}

.navigation-top {
  background: $very-black;
  height: 88px;

  .navbar {
    padding: 0;

    .navbar-brand {
      height: 88px;
      padding: 28px 16px;

      img {
        height: 36px;
        width: auto;
      }
    }

    .menu-item {
      &:focus {
        color: $white;
        outline: none;
      }

      a {
        color: $white;
        text-transform: uppercase;
        padding: 32px 16px;
        font-weight: 600;

        &:hover {
          color: $sand;
        }

        &:focus {
          color: $white;
          outline: none;
        }
      }

      &.active {
        a {
          color: $white;
          background-image: -moz-linear-gradient(top, $sand 0%, $sand 100%); /* FF3.6-15 */
          background-image: -webkit-linear-gradient(top, $sand 0%,$sand 100%); /* Chrome10-25,Safari5.1-6 */
          background-image: linear-gradient(to bottom, $sand 0%,$sand 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          background-position:  center bottom 22px;
          background-size: calc(100% - 42px) 3px;
          background-repeat: no-repeat;

          &:hover {
            color: $sand;
          }
        }
      }
    }
  }
}

.featured-image {
  height: 390px;
  background-position: top center;
  background-size: cover;
  position: relative;

  &.tall {
    height: 600px;

    .banner-caption {
      position: absolute;
      bottom: 48px;
      right:  0;
      width: 606px;
      background-color: $very-black;
      min-height: 130px;
      padding: 16px 48px 24px;
      color: $white;
      font-size: 40px;
      font-weight: bold;
      line-height: 1.2;
      background-image: -moz-linear-gradient(top, $sand 0%, $sand 100%); /* FF3.6-15 */
      background-image: -webkit-linear-gradient(top, $sand 0%,$sand 100%); /* Chrome10-25,Safari5.1-6 */
      background-image: linear-gradient(to bottom, $sand 0%,$sand 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      background-repeat: no-repeat;
      background-size: calc(100% - 128px) 6px;
      background-position: bottom 8px center;
      display: flex;
      align-items: center;

      p {
        display: block;
        margin-bottom: 0;
        height: 96px;
        overflow: hidden;
      }
    }
  }

  .carousel-item {
    background-position: top center;
    background-size: cover;
  }

  .container {
    position: relative;
    height: 100%;
  }

  .banner-caption {
    position: absolute;
    bottom: 24px;
    right: 0;
    background-color: rgba($very-black, 0.7);
    height: 40px;
    padding: 12px 25px;
    color: $white;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
  }
}

.page-template-species {

  .page-content {
    padding-top: 90px;

    .introduction {
      text-align: center;
      margin-bottom: 38px;

      p {
        color: $cool-grey;
        font-weight: normal;
      }
    }
  }
}

.page-template-products {
  .page-content {
    padding-top: 96px;
  }

  .introduction {
    margin-bottom: 64px;

    p {
      font-size: 24px;
      font-weight: 500;
      line-height: 1.17;
      color: $cool-grey;
    }
  }

  .application {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 16px;
    text-indent: -42px;
    padding-left: 54px;

    img {
      width: 32px;
      height: 32px;
      padding: 4px;
      margin-right: 10px;
    }
  }

  .product-list {
    margin-top: 64px;
    margin-bottom: 48px;

    .product {
      margin-bottom: 40px;
      display: block;

      h2 {
        line-height: 26px;
        font-size: 16px;
        text-align: center;
        font-weight: 500;
        margin: 10px 0 0 0;
        color: $very-black;
      }

      p {
        line-height: 26px;
        font-size: 16px;
        text-align: center;
        font-weight: 300;
        margin: 0;
        color: $very-black;
      }

      .image {
        width: 100%;
        height: 355px;
        background-size: cover;
        background-position: top center;
      }
    }
  }
}

.page-template-sustainability {
  h2 {
    margin-bottom: 16px;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

.no-contact {
	height: 36px;
}

.page-template-contact {
  h1 {
    margin-bottom: 16px;
  }
  .contacts {
    margin-bottom: 70px;
  }

  .location {
    padding-top: 40px;

    img {
      width: 100%;
      height: auto;
      margin-bottom: 32px;
    }
  }
}

.page-template-exports {
  .page-content {
    h1 {
      margin-bottom: 32px;
    }

    h2 {
      margin-bottom: 16px;
    }

    p {
      margin-bottom: 24px;
    }
  }
}

.single-sv_products {
  .introduction {
    margin-bottom: 48px;
  }
}

.search-link {
  .nav-link {
    padding-bottom: 23px !important;

    i {
      position: relative;
      top: -3px;
      font-size: 22px;
    }
  }
}

#desk-search {
  z-index: 20;
  position: relative;
  background-color: $black;
  height: 0;
  transition: height 0.4s ease-in-out;
  overflow: hidden;

  &.expanded {
    height: 64px;
  }

  p {
    color: $cool-grey;
    float: left;
    margin-bottom: 0;
    padding-top: 22px;
    margin-right: 8px;
  }

  form {
    float: right;

    input {
      line-height: 24px;
      padding: 8px 19px !important;
      background-color: rgba(255, 255, 255, 0.15);
      border: none;
      color: #F0F0F0;
      width: 300px;
      position: relative;
      top: -10px;
    }

    button {
      background-color: $sand;
      height: 40px;
      width: 40px;
      color: $white;
      border: none;
      line-height: 40px;
      font-size: 24px;
      margin-top: 8px;
      position: relative;
      top: 4px;
      background-image: url('../images/search.svg');
      background-position: center;
      background-size: 20px 20px;
      background-repeat: no-repeat;
    }
  }
}

#myTab {
  a.nav-link {
    color: $very-black;
    padding: 8px 18px;
    margin-bottom: 8px;

    &.active {
      background-color: #EFEFF4;
    }
  }
}

.carousel-indicators {
  li {
    width: 16px;
    height: 6px;
    cursor: pointer;
  }
}

.carousel-inner {
  height: 100%;

  .carousel-item {
    height: 100%;
  }
}

.page-content {
  padding-top: 64px;
  min-height: calc(100vh - 587px);
}

.contact-form {
  background-color: $black;
  text-align: center;
  padding-top: 72px;
  padding-bottom: 72px;
  margin-top: 36px;

  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: $cool-grey;

  h1 {
    color: $white;
  }
}

.gform_wrapper {
  margin-bottom: 0 !important;

  .gform_body {
    ul {
      &.gform_fields {
        display: flex;
        flex-wrap: wrap;
      }

      li {
        &.gfield {
          clear: none;
          display: block;

          label {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 0;
            color: $white;
          }

          input, textarea {
            line-height: 24px;
            padding: 8px 19px !important;
            background-color: rgba(255, 255, 255, 0.15);
            border: none;
            color: #F0F0F0;
          }

          textarea {
            height: 149px;
          }
        }
      }
    }
  }

  .gform_footer {
    margin-top: 8px !important;
    padding-bottom: 0 !important;

    input[type=submit].gform_button {
      width: 148px;
      height: 44px;
      font-size: 14px;
      margin: 0 auto;
      display: block;
      background-color: $sand;
      color: $white;
      font-weight: 500;
      border: none;
      border-radius: 5px;
    }
  }
}

.contact-form {
  .gform_wrapper {
    form {
      ul.gform_fields {
        li:first-child {
          position: absolute;
          top: 0;
          left: 0;
          width: 49%;
        }

        li:nth-child(2) {
          position: absolute;
          top: 108px;
          left: 0;
          width: 49%;
        }

        li:last-child {
          position: absolute;
          top: 0;
          right: 0;
          width: 49%;
        }
      }
    }
  }
}

.gform_2_wrapper {
  form {
    .gform_fields {
      li {
        width: 100%;
        padding-right: 0 !important;
      }
    }
  }
}

.contact-form .gform_1_wrapper .gform_fields {
  position:relative;
  height: 204px;
}


.gform_wrapper div.validation_error {
  border: none !important;
  color: #BB3333 !important;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0 !important;
}

.gform_wrapper li.gfield.gfield_error,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  background: none !important;
  border: none !important;
  color: #BB3333;
}

.gform_wrapper li.gfield.gfield_error .validation_message {
  color: #BB3333;
  font-size: 16px;
  font-weight: normal;
  padding-top:  0;
}

.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper li.gfield_error textarea {
  border: 1px solid #BB3333 !important;
}

.gform_validation_error .gform_footer {
  margin-top: 40px !important;
}

body img.gform_ajax_spinner {
  display: none !important;
}

.gform_confirmation_message {
  font-weight: normal !important;
  color: #EEE !important;
  font-size: 16px !important;
  margin-top: 32px !important;
}

@media (max-width: 992px) {
  body.no-scroll {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    width: 100%;

    #sv-menu {
      position: fixed;
      height: calc(100% - 76px) !important;

      .row {
        width: 100%;
      }
    }
  }

  body.admin-bar.no-scroll {
    #sv-menu {
      height: calc(100% - 108px) !important;
      top: 108px;
    }
  }
}

@media (max-width: 767px) {
  #field_1_1, #field_1_2, #field_1_5 {
    position: static;
    width: 100%;
  }

  .gform_1_wrapper .gform_fields {
    height: inherit;
  }
}

.species-list {
  padding-bottom: 38px;

  h2 {
    margin-bottom: 24px;
  }

  .species {
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 4px 16px -1px rgba(0, 0, 0, 0.1);
    color: $very-black;
    margin-bottom: 56px;
    height: calc(100% - 56px);
    display: flex;
    flex-direction: column;

    .info-overlay {
      width: 24px;
      height: 24px;
      background-image: url(../images/info.svg);
      background-size: 24px 24px;
      background-repeat: no-repeat;
      position: absolute;
      right: 23px;
      top: 8px;
    }

    &:hover {
      text-decoration: none;
    }

    .title {
      line-height: 28px;
      padding: 18px 12px;
      margin-bottom: 0;
      min-height: 0;
      display: flex;
      justify-content: center;
      align-items: center;
   	  flex: 1;
    }
    
    h2 {
      text-transform: uppercase;
      text-align: center;
      font-weight: 500;
      margin-bottom: 0;
    }

    .image {
      width: 100%;
      height: 250px;
      background-size: cover;
      background-position: top center;
    }
  }
}

.species-nav {
  .nav-header {
    margin-top: 16px;
  }

  nav {
    margin-bottom: 32px;
  }
}

.species-body {
  padding-left: 64px;
}

.suitability {
  img {
    margin-right: 8px;
  }
}

.characteristics p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 32px;
  font-weight: 400;
}

/* Newsletter */
li#field_2_1 {
  width: 100%;
  padding-right: 0;
}

.gform_2_wrapper input[type=submit] {
  width: 100%;
  text-transform: uppercase;
}

i.icon-right {
  position: relative;
  top: 3px;
}

.milling-banner {
  background-size: cover;
  height: 300px;
  background-position: top center;
  margin-bottom: 64px;
}

.drygreen {
  margin-bottom: 64px;
}

footer {
  background-color: $very-black;
  color: $white;
  padding-top: 36px;

  .col-12 {
    padding-top: 32px;
  }

  .gform_2_wrapper, img {
    width: 90%;
  }

  a {
    color: $sand;

    &:hover {
      color: $white;
    }
  }

  h2 {
    margin-bottom: 15px;
  }

  img {
    width: 100%;
    height: auto;
  }

  .site-by {
    margin-top: 54px;
    border-top: 2px solid #353535;
    padding-top: 26px;
    padding-bottom: 30px;
    min-height: 82px;
    color: $cool-grey;

    .col-12 {
      padding-top: 0;
    }
    
    .text-md-left {
    	padding-top: 4px;
    }

    a {
      color: $cool-grey;
      font-size: 20px;
      position: relative;
      top: 4px;
      margin-left: 4px;

      &:hover {
        color: #FF5800;
      }

      &.social:hover {
        color: $white;
      }
    }
  }
}

.supplier {
  img {
    width: 75%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}

.search-results {
  h1 {
    margin-bottom: 32px;
  }

  h2 {
    margin-bottom: 16px;
  }
}

@media (max-width: 1259px) {

}

@media (max-width: 991px) {
  .navigation-top {
    height: 76px;

    .navbar {
      padding: 0 1rem;
    }

    .buttons {
      height: 76px;
      padding: 29px 0;
    }

    .navbar {
      .navbar-brand {
        padding: 25px 0;
        height: 76px;

        img {
          height: 26px;
        }
      }

      .navbar-toggler {
        padding: 0.25rem;
        border: none;

        i {
          color: $white;
        }
      }
    }
  }

  .page-template-products {
    .product-list {
      .product {
        .image {
          height: 200px;
        }
      }
    }

    .introduction {
      p {
        margin-bottom: 32px;
      }
    }
  }

  #sv-menu {
    z-index: 20;
    background-color: $black;
    width: 100vw;
    position: absolute;
    top: 76px;
    left: 0;
    height: calc(100vh - 76px);
    overflow: hidden;

    #menu-outer {
      transition: all 0.3s ease-in-out;
      left: 200%;
      position: relative;
      height: 100%;
      width: 100%;

      >div {
        height: 100%;
        width: 100%;
        position: absolute;
        overflow-y: scroll;
      }
    }

    #contactnav {
      left: -200%;
      padding-bottom: 64px;

      .gform_1_wrapper {
        input[type=submit] {
          width: calc(100% - 24px);
          margin-bottom: 24px;
        }
        
        .gform_fields {
    		width: 100%;
    
		    li {
		    	width: calc(100% - 12px);
    			padding-right: 0;
    			padding-left: 12px;
			}
		}
      }
      
      .mobilecontact {
        padding: 32px 24px 0;
        color: $white;

        .row {
          margin-bottom: 16px;
          margin-left: -8px;
          margin-right: -8px;
        }

        i.contact {
          font-size: 24px;
          line-height: 24px;
          position: relative;
          top: 4px;
        }

        a {
          color: $sand;
        }
      }
    }

    #searchnav {
      left: -100%;

      .row {
        margin-left: 0;
        margin-right: 0;
      }

      h2 {
        color: $white;
        text-align: center;
      }

      h3 {
        color: $cool-grey;
        text-align: center;
        font-weight: 400;
      }

      form {
        width: calc(100% - 48px);
        margin: 0 auto;
      }

      input {
        line-height: 24px;
        padding: 8px 19px !important;
        background-color: rgba(255, 255, 255, 0.15);
        border: none;
        color: #F0F0F0;
        width: calc(100% - 48px);
        display: block;
        float: left;
      }

      button {
        background-color: $sand;
        height: 40px;
        width: 40px;
        color: $white;
        border: none;
        line-height: 40px;
        font-size: 24px;
        text-align: center;
        background-image: url('../images/search.svg');
        background-position: center;
        background-size: 20px 20px;
        background-repeat: no-repeat;
      }
    }
  }
}

@media (max-width: 767px) {
  .species-body {
    padding-left: 12px;
  }

  footer {
    margin-top: 36px;

    .gform_2_wrapper, img {
      width: 100%;
    }

    i.contact {
      font-size: 24px;
      line-height: 24px;
      position: relative;
      top: 4px;
    }

    .mobilecontact {
      .row {
        margin-bottom: 24px;
      }
    }

    .site-by {
      min-height: 104px;
      font-size: 14px;

      p {
        margin-bottom: 0;
      }

      div {
        margin-bottom: 16px;
      }
    }
  }

  .navigation-top {
    .navbar {
      .navbar-brand {
        margin-right: 0;
      }
    }
  }

  #snazzymap {
    height: 300px;
  }

  .featured-image {
    height: 200px;

    &.tall {
      height: 300px;
      .banner-caption {
        display: none;
      }
    }
  }

  .species-list {
    .species {
      .image {
        height: 188px;
      }
    }
  }

  .page-template-products {
    .product-list {
      .product {
        .image {
          height: 188px;
        }
      }
    }
  }

  .contact-form {
    display: none;
  }

  #sv-menu {
    #contactnav {
      .mobilecontact {
        padding: 32px 16px 0;
        font-size: 14px;

        .col-11 {
          padding-left: 24px;
        }
      }
    }
  }
}

@media (max-width: 585px) {
  .mobilecontact {
    i.contact {
      font-size: 20px;
    }
  }
}

@media (max-width: 400px) {
  .featured-image {
    &.tall {
      .banner-caption {
        font-size: 20px;
      }
    }
  }
}

@media all and (-ms-high-contrast:none) {
  *::-ms-backdrop, .species .title { min-height: 120px !important; } /* IE11 */
}

@media screen and (max-width: 600px) {
  #wpadminbar {
    position: absolute;
    top: -46px;
  }

  body.admin-bar.no-scroll #sv-menu {
    height: calc(100% - 122px) !important;
    top: 122px;
  }
}